<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="id25467247" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
         Data Source=|DataDirectory|id25467247.accdb;Persist Security Info=False;"/>
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />


      <authentication mode="Forms">
        <forms name="ass2" path="/" loginUrl="~/public/login.aspx" protection="All" timeout="10" />
      </authentication>
      
      <siteMap defaultProvider="publicSiteMap" enabled="true" >
        <providers>
          <add name="publicSiteMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="public.sitemap" />
          <add name="privateSiteMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="private.sitemap" />
        </providers>
      </siteMap>
    </system.web>
  
  <location path="public">
    <system.web>
      <pages masterPageFile="~/master/PublicMaster.master" />      
    </system.web>
  </location>

  <location path="private">
    <system.web>
      <pages masterPageFile="~/master/PrivateMaster.master" />
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
